{%extends 'default.html'%}

{%block content%}

<div class="login-page">

  <div>
    <h3 style="display: block;text-align: center;font-weight: bold;color: darkred;">Donor Details</h3>
  </div>

  <div style="width: 100%;">
    <a class="btn_sign" style="text-decoration: none; text-align: center; display: block;" value="ADD DONOR"
      href="add-donor">ADD DONOR</a>
    <a class="btn_sign" style="text-decoration: none; text-align: center; display: block;" value="LOG OUT"
      href="logout">logout</a>
  </div>


  <div class="form">
    <div class="login">
      <div class="login-header">
      </div>
    </div>
    <table id="myTable" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Blood grp</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        {%for d in details %}
        <tr>
          <td>{{d.name}}</td>
          <td>{{d.bloodgroup}}</td>
          <td>{{d.age}}</td>
        </tr>
        {%endfor%}

      </tbody>
    </table>
  </div>
</div>

{%endblock%}