{%extends 'default.html'%}

{%block content%}

<div class="login-page">
  <div class="form">
    <div class="login">
      <div class="login-header">
        <h3>Details</h3>
      </div>
    </div>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>
        <tr>
          <th>Name</th>
          <th>Blood grp</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        {%for d in details %}
        <tr>
          <td>{{d.name}}</td>
          <td>{{d.bloodgroup}}</td>
          <td>{{d.age}}</td>
        </tr>
        {%endfor%}

      </tbody>
    </table>
  </div>
</div>

{%endblock%}