{%extends 'default.html'%}

{%block content%}

<div class="cont_principal">

    <div class="cont_centrar">
        <div class="cont_login">
            <h1 style="padding: 2px; text-align: center;">Login</h1>
            <form action="login" method="post">
                {% csrf_token %}
                <div class="cont_text_inputs">

                    <input type="text" class="input_form_sign d_block active_inp username" placeholder="username"
                        name="username" />
                    <input type="password" class="input_form_sign d_block active_inp password" placeholder="password"
                        name="password" />
                    {%for message in messages%}
                    <p class="warning">{{message}}</p>
                    {%endfor%}


                </div>
                <div class="cont_btn">
                    <button type="button" id="bttn"class="btn_sign" value="Login">LOGIN</button>
                </div>

            </form>

            <a class="btn_sign" style="text-decoration: none;" value="sign up" href="signup">sign up</a>


        </div>

    </div>


</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
<script>
$('#bttn').click(()=>{

    console.log('clicked')
    var username = $('.username').val()
    var password = $('.password').val()
    console.log(username,password)

    var data = {
        'csrfmiddlewaretoken':'{{csrf_token}}',
        'username':username,
        'password':password
    }

    if(username==''){
        alert('username field must not be empty')
    }
    else if (password==''){
        alert('password field must not be empty')
    }else     
    {
        $.ajax({
            url:'/login',
            method:'POST',
            data:data,
            dataType:'json',
            success:(data)=>{
                if(data.success){
                    alert('login succesfull')
                    window.location.replace('/display')
                }else{
                    alert('login authentication error')
                }
            }
        })
    }
})
</script>


{%endblock%}