{%extends 'default.html'%}

{%block content%}

<div class="cont_principal">

    <div class="cont_centrar">
        <div class="cont_login">
            <h1 style="padding: 2px; text-align: center;">Login</h1>
            <form action="login" method="post">
                {% csrf_token %}
                <div class="cont_text_inputs">

                    <input type="text" class="input_form_sign d_block active_inp" placeholder="username"
                        name="username" />
                    <input type="password" class="input_form_sign d_block active_inp" placeholder="password"
                        name="password" />
                    {%for message in messages%}
                    <p class="warning">{{message}}</p>
                    {%endfor%}


                </div>
                <div class="cont_btn">
                    <input type="submit" class="btn_sign" value="Login">

                </div>

            </form>

            <a class="btn_sign" style="text-decoration: none;" value="sign up" href="signup">sign up</a>


        </div>

    </div>


</div>



{%endblock%}